
@import url(../../node_modules/simplelightbox/dist/simple-lightbox.min.css);


body {
  margin: 0;
  padding: 0;
}
.gallery {
  list-style: none;
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}
.gallery-image {
  display: block;
  width: calc((100% - 24 * 2) / 3);
  height: 200px;
  transition: transform 0.3s ease-in;
}
.gallery-link:hover > .gallery-image {
  transform: scale(1.05);
}